:root {
  --text-font: tajawal, sans-serif;
  --text-size: 22px;
  --text-color: #513E56;
  --background-color: #E5DCE5;
  --primary-color: #96799D;
  --secondary-color: #C3D9A6;
  --tertiary-color: #f0efe9;
  --border-color: #FFFCEA;
  --button-color: #FFFCE2;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--background-color);
  font-family: var(--text-font);
  color: var(--text-color);
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 60px;
  padding: 20px;
  color: #513E56;
}

p {
  font-size: var(--text-size);
  font-weight: 700;
}

ul {
  margin-top: 30px;
  list-style-type: none;

}
.pokemon {
  display: flex;
  justify-content: center;

}

.pokemon-button {
  padding: 15px;
  margin: 10px;
  font-family: var(--text-font);
  font-weight: bold;
  color: var(--text-color);
  font-size: var(--text-size);
  width: 300px;
  text-align: left;
  background-color: var(--button-color);
  border-radius: 5px;
  box-shadow: inset;
}

/* RESPONSIVE BREAKPOINTS */
@media all and (max-width: 320px) {}

@media all and (max-width: 480px) {}

@media all and (max-width: 768px) {}

@media all and (max-width: 992px) {}

@media all and (max-width: 1200px) {}