:root {
  --text-font: tajawal, sans-serif;
  --text-size: 22px;
  --text-color: #513E56;
  --background-color: #E5DCE5;
  --primary-color: #96799D;
  --secondary-color: #C3D9A6;
  --tertiary-color: #f0efe9;
  --border-color: #FFFCEA;
  --button-color: #FFFCE2;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: var(--background-color);
  font-family: var(--text-font);
  color: var(--text-color);
}

.navbar-brand {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
}


h1 {
  display: inline;
  margin: 0;
  font-size: 60px;
  padding: 20px;
  color: #513E56;
}

p {
  font-size: var(--text-size);
  font-weight: 700;
}

.pokemon {
  display: flex;
  justify-content: center;
}

.pokemon-button {
  padding: 15px;
  margin: 5px;
  font-family: var(--text-font);
  font-weight: bold;
  color: var(--text-color);
  font-size: var(--text-size);
  width: 300px;
  text-align: left;
  background-color: var(--button-color);
  border-radius: 5px;
  box-shadow: inset;
}

li.list-group-item {
  background-color: rgb(210, 232, 229);
  padding: 0;
  margin: 5px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.highlight {
  background-color: rgb(210, 232, 229);
}

.main-container {
  margin-top: 100px;
}

.navbar-custom {
  background-color: #96799D;
}

#search-button {
  color: #000000;
  border: solid #000000;
}

#search-button:focus {
  background-color: rgb(96, 176, 158);
}



/* MODAL STYLES */

.modal-header,
.modal-footer {
  background-color: rgb(210, 232, 229);
}

.modal-body {
  text-align: center;
}

/*#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; 
  overflow: auto; 
  display: grid;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}*/

/*.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
  text-align: center;
}

.modal img {
  margin: 0 auto;
  width: 200px;
  height: 200px;

}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;

}*/

/* RESPONSIVE BREAKPOINTS */

@media all and (max-width: 321px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
/*@media all and (min-width: 321px) and (max-width: 768px) {
  p {
  font-size: 20px;
}
  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
  }
h1 {
  font-size: 50px;
}

.pokemon-button {
  font-size: 20px;
  width: 250px;
}

#modal-container {
  background-color: var(--text-color);
}
.modal h1 {
  font-size: 20px;
}
.modal {
  max-width: 100%;
  max-height: 100%;
  margin-top: 250px;
}

.modal-close {
  font-size: 12px;
}

.modal p {
  font-size: 16px;
  font-weight: 400; 
}

.modal img {
  max-width: 100px;
  max-height: 100px;
} }*/

@media (min-width: 768px) { ... }


@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... }

@media all and (max-width: 320px) {

  
}

/*@media all and (min-width: 321px) and (max-width: 480px) {
  p {
    font-size: 22px;
  }

  h1 {
    font-size: 32px;
  }
*/

/*
  #modal-container {
    background-color: var(--secondary-color);
  }
  .modal h1 {
    font-size: 22px;
  }
  .modal {
    max-width: 100%;
    max-height: 100%;
    margin-top: 250px;
  }

  .modal-close {
    font-size: 14px;
  }

  .modal p {
    font-size: 18px;
    font-weight: 400; 
  }

  .modal img {
    max-width: 100px;
    max-height: 100px;
  }
}
